<div class="container mt-4" style="max-width: 800px;">
  <h2 class="text-center">Buscar Persona</h2>
  <div class="mb-3">
    <input type="number" [(ngModel)]="idPersona" class="form-control" placeholder="Ingrese ID de Persona" />
  </div>

  <div class="d-grid gap-2">
    <button (click)="buscarPersona()" class="btn btn-primary">Buscar</button>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="text-center">
      <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p>Buscando...</p>
    </div>
  </div>

  <div *ngIf="resultado" class="mt-4">
    <h3 class="text-center">Resultado:</h3>
    <div class="row">
      <div class="col-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><strong>ID:</strong></td>
              <td>{{ resultado.ssn }}</td>
            </tr>
            <tr>
              <td><strong>Nombre:</strong></td>
              <td>{{ resultado.nombre }}</td>
            </tr>
            <tr>
              <td><strong>Fecha de Nacimiento:</strong></td>
              <td>{{ resultado.dob }}</td>
            </tr>
            <tr>
              <td><strong>Dirección (Casa):</strong></td>
              <td>
                {{ resultado.home.street }}, {{ resultado.home.city }}, {{ resultado.home.state }} {{
                resultado.home.zip }}
              </td>
            </tr>
            <tr>
              <td><strong>Dirección (Oficina):</strong></td>
              <td>
                {{ resultado.office.street }}, {{ resultado.office.city }}, {{ resultado.office.state }} {{
                resultado.office.zip }}
              </td>
            </tr>
            <tr>
              <td><strong>Color Favorito:</strong></td>
              <td>{{ resultado.favoriteColor }}</td>
            </tr>
            <tr>
              <td><strong>Edad:</strong></td>
              <td>{{ resultado.age }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <pre>{{ resultadoXML }}</pre>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" role="alert" class="alert alert-danger mt-3 text-danger">{{ errorMessage }}</div>
</div>

<router-outlet></router-outlet>
